force-app/main/default/flows/Add_New_Resident.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Resident_check</name>
        <label>Resident check</label>
        <locationX>426</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>create_resident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resident_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingResident.First_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PotentialResident.First_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExistingResident.Last_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PotentialResident.Last_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resident_Fault_Screen</targetReference>
            </connector>
            <label>Resident Found</label>
        </rules>
    </decisions>
    <interviewLabel>Add New Resident {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add New Resident</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_resident</name>
        <label>create resident</label>
        <locationX>436</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>ResidentCreatedSuccessfully</targetReference>
        </connector>
        <inputReference>PotentialResident</inputReference>
    </recordCreates>
    <recordLookups>
        <name>ResidentNameExists</name>
        <label>Resident Name Exists</label>
        <locationX>319</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resident_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PotentialResident.First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PotentialResident.Last_Name__c</elementReference>
            </value>
        </filters>
        <object>Resident__c</object>
        <outputReference>ExistingResident</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Resident_Fault_Screen</name>
        <label>Resident Fault Screen</label>
        <locationX>567</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResidentAlreadyExists</name>
            <fieldText>&lt;p&gt;Resident already in system! &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resident_Name</name>
        <label>Resident Name</label>
        <locationX>206</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ResidentNameExists</targetReference>
        </connector>
        <fields>
            <name>Resident_Name_Entry</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PotentialResident.First_Name__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PotentialResident.Last_Name__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResidentCreatedSuccessfully</name>
        <label>ResidentCreatedSuccessfully</label>
        <locationX>556</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResidentCreated</name>
            <fieldText>&lt;p&gt;Resident added to system&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Resident_Name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ExistingResident</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Resident__c</objectType>
    </variables>
    <variables>
        <name>PotentialResident</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Resident__c</objectType>
    </variables>
</Flow>
