force-app/main/default/flows/Assign_Residents_to_House.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <dynamicChoiceSets>
        <name>AvailableHouses</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <object>House__c</object>
        <outputAssignments>
            <assignToReference>SelectedHouse.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedHouse.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AvailableResidents</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lease__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Resident__c</object>
        <outputAssignments>
            <assignToReference>SelectedResident.First_Name__c</assignToReference>
            <field>First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedResident.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedResident.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Assign Residents to House {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Residents to House</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Lease</name>
        <label>Create New Lease</label>
        <locationX>507</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Update_Resident</targetReference>
        </connector>
        <inputAssignments>
            <field>House__c</field>
            <value>
                <elementReference>SelectedHouse.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!SelectedResident.First_Name__c}s lease for {!SelectedHouse.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resident__c</field>
            <value>
                <elementReference>SelectedResident.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lease__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_House</name>
        <label>Update House</label>
        <locationX>754</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Success_output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedHouse.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </inputAssignments>
        <object>House__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resident</name>
        <label>Update Resident</label>
        <locationX>640</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Update_House</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedResident.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lease__c</field>
            <value>
                <elementReference>Create_New_Lease</elementReference>
            </value>
        </inputAssignments>
        <object>Resident__c</object>
    </recordUpdates>
    <screens>
        <name>Resident_Assignment_Screen</name>
        <label>Resident Assignment Screen</label>
        <locationX>383</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Lease</targetReference>
        </connector>
        <fields>
            <name>Available_Resident_List</name>
            <choiceReferences>AvailableResidents</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Resident List</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Available_Houses_List</name>
            <choiceReferences>AvailableHouses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Houses List</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_output</name>
        <label>Success</label>
        <locationX>693</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Screen</name>
            <fieldText>&lt;p&gt;A lease for {!SelectedResident.Name} at {!SelectedHouse.Name} was created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Resident_Assignment_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SelectedHouse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>House__c</objectType>
    </variables>
    <variables>
        <name>SelectedResident</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resident__c</objectType>
    </variables>
</Flow>
